@define-color accent #f4f4f4;
@define-color text #f4f4f4;
@define-color invText #161616; /* text when background is accent */
@define-color bg #161616;

* {
  font-family: Iosevka Nerd Font Mono;
  font-size: 18px;
  border-radius: 4px;
  min-height: 0px;
}

window#waybar {
  background-color: @bg;
  color: @text;
  opacity: 1;
}

#workspaces {
  background-color: @bg;
}

#workspaces button {
  padding: 0 4px;
  color: @text;
}

#workspaces button.focused {
  background-color: @accent;
  color: @invText;
}

window#waybar.empty #window {
  background-color: transparent;
  color: transparent;
}

#window {
  background-color: @bg;
  color: @text;

  padding: 0px 0px 0px 0px;
}

#pulseaudio,
#cpu,
#memory,
#temperature,
#battery,
#clock,
#tray,
#custom-icon {
  background-color: @bg;
  color: @text;
  margin: 0px;
}

#privacy {
  padding: 0px;
}
#privacy-item.screenshare {
  margin-right: 0px;
  margin-left: 5px;
  padding-left: 7px;
}

#privacy-item.audio-in {
  margin-left: 0px;
  padding-left: 3px;
  padding-right: 5px;
}

.modules-left {
  background-color: @bg;
  padding: 0px 0px 0px 0px;
}
.modules-right {
  background-color: @bg;
  padding: 0px 0px 0px 0px;
}
